body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    background-image: url('../image/bg_body_hoodDark.jpg');
}

main {
    display: flex;
    height: 650px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

/*---------- HEADER -----------*/
header {
    font-family: 'Dancing Script', cursive;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 0px 5px black;
    font-size: 2.5em;
}

header h1 {
    text-align: center;
    width: 90vw;
    padding-bottom: 10px;
    border-bottom: thin white solid;
}


/*---------- FOOTER -----------*/
footer {
    display: flex;
    height: 50px;
    justify-content: space-between;

}

footer h2 {
    margin: 30px auto;
    justify-content: center;
    color: white;
    font-size: 0.7em;
}


/*---------- Block CountPoint Black and White ---------*/
#countPoint {

    text-align: center;
    font-size: 1.4em;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 15px 30px;
    background-image: url('../image/bg_point_hoodLight.jpg');
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    color: white;
    text-shadow: 0px 0px 5px black;
}

/*-------- Inside CountPoint Black and White -------*/
#whitePoint {
    padding-top: 10px;
}

/*------ Title player black and white -------*/
.hide {
    visibility: hidden;
}

.playerTitle {
    font-size: 1.7em;
    font-weight: bold;
    background-color: #2E733A;
    padding: 8px 40px;
    border-radius: 20px;
    border: solid 2px black;
    text-shadow: 0px 0px 10px black;
    color: white;
}

.playerTitle--Black {
    color: black;
    text-shadow: 0px 0px 10px white;

}

.playerTitle--White {
    color: white;
}

/* --------BOARD GAME -------*/
.boardGlobal {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.board {
    display: flex;
    flex-direction: column;
    width: 328px;
    border: 5px solid black;
    border-image: url('../image/bg_point_hoodLight.jpg') 1;
}

.lineElement {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.cellElement {
    background-color: #2E733A;
    width: 41px;
    height: 41px;
    border: 1px solid black;

}

.whitePiece {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid black;
    margin: 3px 3px;
}

.blackPiece {
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid white;
    margin: 3px 3px;
}

/*------------ Waiting board piece -----------*/
.bloc_waitingPiece{
    display: flex;
    margin: auto;
    width: 300px;
    height: 30px;
    background-image: url('../image/bg_point_hoodLight.jpg');
    padding : 5px 5px 5px 1px;
}
.block_waitingPiece--White {
    border-radius: 10px 10px 0 0 ;
}

.block_waitingPiece--Black {
    border-radius: 0 0 10px 10px ;
}

.waitingPieceWhite{
    margin-left: 5px;
    width: 5px;
    background-color: black;
    box-shadow: 2px 0 0 rgba(255, 255, 255, 0.76);
}

.waitingPieceBlack{
    margin-left: 5px;
    width: 5px;
    background-color: black;
    box-shadow: -2px 0 0 rgba(255, 255, 255, 0.76);
}