body {
    font-family: 'Dancing Script', cursive;
    background-image: url('../image/bg_body_hoodDark.jpg');
    height: 100vh;
}

.boardGameContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    height: 100vh;

}

main {
    display: flex;
    height: 650px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


/*---------- HEADER -----------*/
header {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 0px 5px black;
    font-size: 2.5em;
}

header h1 {
    text-align: center;
    width: 90vw;
    padding-bottom: 10px;
    border-bottom: thin white solid;
}


/*---------- FOOTER -----------*/
footer {
    display: flex;
    height: 50px;
    justify-content: space-between;

}

footer h3 {
    margin: 30px auto;
    justify-content: center;
    color: white;
    font-size: 0.7em;
}

#signature_treant {
    width: 35px;

}


/*---------- Block CountPoint Black and White ---------*/
#countPoint {
    font-family: sans-serif;
    text-align: center;
    font-size: 1.4em;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 15px 30px;
    background-image: url('../image/bg_point_hoodLight.jpg');
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    color: white;
    text-shadow: 0px 0px 5px black;
}



#blackPoint {
    padding-bottom: 10px;
}

/*------ Title player black and white + ANIMATION -------*/
@keyframes hide-title {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        transform: scale(0);
        visibility: hidden;
    }
}

@keyframes show-title {
    from {
        transform: scale(0);
        visibility: hidden;
    }

    to {
        transform: scale(1);
        visibility: visible;

    }
}

.hide {
    animation-name: hide-title;
    animation-duration: 1s;
    visibility: hidden;
}

.show {
    animation-name: show-title;
    animation-duration: 1s;
    visibility: visible;
}

.playerTitle {
    width: 250px;
    font-family: sans-serif;
    font-size: 1.7em;
    font-weight: bold;
    background-image: url('../image/cellule.jpg');
    padding: 8px 40px;
    border-radius: 20px;
    border: solid 2px black;
    box-shadow: 5px 5px 5px black;
}

.playerTitle--Black {
    color: black;
    text-shadow: 0px 0px 10px white;


}

.playerTitle--White {
    color: white;
    text-shadow: 0px 0px 10px black;
}

/* --------BOARD GAME -------*/
.boardGlobal {
    display: flex;
    flex-direction: column;
    margin: 15px;

}

.board {
    display: flex;
    flex-direction: column;
    width: 328px;
    border: 5px solid black;
    border-image: url('../image/bg_point_hoodLight.jpg') 1;
}

.lineElement {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.cellElement {
    background-image: url('../image/cellule.jpg');
    /* background-color: #2E733A; Couleur original*/
    width: 41px;
    height: 41px;
    border: 1px solid black;
    padding-top: 4px;

}

.whitePiece--init {
    background: radial-gradient(circle at 10px 10px, rgb(255, 255, 255), rgb(145, 145, 145));
    box-shadow: 1px 1px 3px black;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: auto;
}

.blackPiece--init {
    background: radial-gradient(circle at 10px 10px, rgb(73, 73, 73), black);
    box-shadow: 1px 1px 3px black;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: auto;
}

/*------------- ANIMATTION PIECE -----------*/
@keyframes animPieceBlackWhite {
    from {
        width: 30px;
        margin: auto;
        background: radial-gradient(circle at 10px 10px, rgb(73, 73, 73), black);
        box-shadow: 1px 1px 3px black;
        /* border: 2px solid white; */
    }

    50% {
        width: 0px;
        margin: auto;
    }

    to {
        width: 30px;
        margin: auto;
        background: radial-gradient(circle at 10px 10px, rgb(255, 255, 255), rgb(165, 165, 165));
        box-shadow: 1px 1px 3px black;
        /* border: 2px solid black; */
    }
}

@keyframes animPieceWhiteBlack {
    from {
        width: 30px;
        margin: auto;
        background: radial-gradient(circle at 10px 10px, rgb(255, 255, 255), rgb(165, 165, 165));
        box-shadow: 1px 1px 3px black;
        /* border: 2px solid black; */
    }

    50% {
        width: 0px;
        margin: auto;
    }

    to {
        width: 30px;
        margin: auto;
        background: radial-gradient(circle at 10px 10px, rgb(73, 73, 73), black);
        box-shadow: 1px 1px 3px black;
        /* border: 2px solid white; */
    }
}

.whitePiece--anim {
    animation-name: animPieceBlackWhite;
    animation-duration: 1s;
}

.blackPiece--anim {
    animation-name: animPieceWhiteBlack;
    animation-duration: 1s;
}


.whitePiece {
    background: radial-gradient(circle at 10px 10px, rgb(255, 255, 255), rgb(165, 165, 165));
    box-shadow: 1px 1px 3px black;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: auto;
    /* border: 2px solid black; */
}

.blackPiece {
    background: radial-gradient(circle at 10px 10px, rgb(73, 73, 73), black);
    box-shadow: 1px 1px 3px black;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: auto;
    /* border: 2px solid white; */
}

/*------------ Waiting board piece -----------*/
.bloc_waitingPiece {
    display: flex;
    margin: auto;
    width: 300px;
    height: 30px;
    background-image: url('../image/bg_point_hoodLight.jpg');
    padding: 5px 5px 5px 1px;
}

.block_waitingPiece--White {
    border-radius: 10px 10px 0 0;
}

.block_waitingPiece--Black {
    border-radius: 0 0 10px 10px;
}

.waitingPieceWhite {
    margin-left: 5px;
    width: 5px;
    background-color: black;
    box-shadow: 2px 0 0 rgba(255, 255, 255, 0.76);
}

.waitingPieceBlack {
    margin-left: 5px;
    width: 5px;
    background-color: black;
    box-shadow: -2px 0 0 rgba(255, 255, 255, 0.76);
}


/*-------- Button RESET ---------*/
.blockPointReset {
    font-family: sans-serif;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    margin-top: 10px;
}

.btn {
    font-size: 0.8em;
    height: 40px;
    width: 70px;
    font-weight: bolder;
    font-family: sans-serif;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url('../image/bg_point_hoodLight.jpg');
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    color: white;
    text-shadow: 0px 0px 5px black;
}

.btn:active {
    box-shadow: none;
    transform: translateY(3px);
}

.btn:hover {
    border: 1px solid black;
    font-size: 0.9em;
}

#btnResetEasyMode {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.btnHome{
    font-size: 0.8em;
    height: 60px;
    width: 180px;
    font-weight: bolder;
    font-family: sans-serif;
    margin: 15px 10px 0 10px;
    background-image: url('../image/bg_point_hoodLight.jpg');
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    color: white;
    text-shadow: 0px 0px 5px black;
}
.btnHome:active {
    box-shadow: none;
    transform: translateY(3px);
}

.btnHome:hover {
    font-size: 0.9em;
}
.btncomputerMode{
    margin: 50px 0 15px 0;
}
.btnLaunchGame{
    margin-top: 150px;
}

.descriptionMode{
    color:white;
    width: 80%;
    text-align: center;
    font-size: 1.4em;
}

.btnEasyModeActivated, .btncomputerModeActivated{
    box-shadow: none;
    transform: translateY(3px);
    font-size: 0.9em;
}

@media (min-width : 700px) {
    .blockPointReset {
        width: 500px;
        margin-top: 60px;

    }

    
    body {
        font-family: 'Dancing Script', cursive;
        background-image: url('../image/othello-spin-master.jpg');
        background-repeat: no-repeat;
        background-size: cover;

    }

    header h1 {

        font-size: 1.5em;
        width: 500px;
        margin: 0 auto;
        padding-top: 30px;
    }

    .boardGameContent {
        width: 700px;
        margin: auto;
        background-image: url('../image/bg_body_hoodDark.jpg');
    }

}


/*----------------------*/
/* ----- EasyMODE ----- */
/*----------------------*/
@keyframes potentialPiece {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;

    }
}

.potential {
    animation-name: potentialPiece;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: auto;
}

.potential--black {
    background: radial-gradient(circle at 10px 10px, rgb(73, 73, 73), black);
    box-shadow: 1px 1px 3px black;
}

.potential--white {
    background: radial-gradient(circle at 10px 10px, rgb(255, 255, 255), rgb(165, 165, 165));
    box-shadow: 1px 1px 3px black;
}